<div class="modal" id="modal-#{val.uid}">
    <div class="modal-content" id="modal-content-#{val.uid}">
        <div class="input-field">
            <i class="material-icons prefix">mode_edit</i>
            <textarea id="modal-name-#{val.uid}" class="materialize-textarea">#{val.name}</textarea>
            <label for="modal-name-#{val.uid}">Label</label>
        </div>
        <label>
            <span>Volume</span>
            <div id="modal-volume-slider-#{val.uid}"></div>
            <span id="modal-volume-value-#{val.uid}"></span>
        </label>
        <br></br>
        <label>
            <span>Rate</span>
            <div id="modal-rate-slider-#{val.uid}"></div>
            <span id="modal-rate-value-#{val.uid}"></span>
        </label>
        <br></br>
        <a id="modal-delete-item-#{val.uid}" onclick="deleteEntry('#{val.uid}')" class="btn blue-grey darken-1 waves-effect waves-light">Delete</a>
    </div>
    <div class="modal-footer" id="modal-footer-#{val.uid}">
        <a class="modal-action modal-close waves-effect waves-green btn-flat" onclick="saveEntry('#{val.uid}')" href="#!" id="modal-action-#{val.uid}">Save</a>
    </div>
</div>
script(type='text/javascript').
    var elem = document.getElementById('modal-#{val.uid}');
    M.Modal.init(elem, {});

    var audio#{val.uid} = document.getElementById('audio-#{val.uid}')
    var rateDisplay#{val.uid} = document.getElementById('modal-rate-value-#{val.uid}')
    var rateSlider#{val.uid} = document.getElementById('modal-rate-slider-#{val.uid}')
    var volumeDisplay#{val.uid} = document.getElementById('modal-volume-value-#{val.uid}')
    var volumeSlider#{val.uid} = document.getElementById('modal-volume-slider-#{val.uid}')

    noUiSlider.create(rateSlider#{val.uid}, {
        start: #{val.rate},
        step: 0.01,
        behaviour: 'drag',
        connect: [true, false],
        range: {
        min: 0.50,
        max: 2.00,
        },
    });
    rateSlider#{val.uid}.noUiSlider.on('update', function(value, handle){
        rateDisplay#{val.uid}.innerHTML = value[handle];
        audio#{val.uid}.playbackRate = Number(value[handle]);
    });

    noUiSlider.create(volumeSlider#{val.uid}, {
        start: #{val.volume},
        step: 0.01,
        behaviour: 'drag',
        connect: [true, false],
        range: {
        min: 0.00,
        max: 1.00,
        },
    });
    volumeSlider#{val.uid}.noUiSlider.on('update', function(value, handle){
        volumeDisplay#{val.uid}.innerHTML = value[handle];
        audio#{val.uid}.volume = Number(value[handle]);
    });